@font-face {
	src: url(../../Resources/fonts/Circe-Regular.ttf);
	font-family: Circe-Regular;
}
@font-face {
	src: url(../../Resources/fonts/Circe-Bold.ttf);
	font-family: Circe-Bold;
}
@font-face {
	src: url(../../Resources/fonts/Circe-ExtraBold.ttf);
	font-family: Circe-ExtraBold;
}

body {
    background: linear-gradient(120deg, #FF4257 30%, #F77281);
}

.home-container {
	margin: 50px;
}

.home-logoImage {
	width: 700px;
	height: 83.05px;
	background-image: url(../../Resources/Images/logo_text.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-title-container {
	width: fit-content;
	overflow: hidden;
	margin-top: 50px;
}

.home-title {
	width: fit-content;
	color: white;
	font-family: Circe-ExtraBold;
    text-align: center;
    color: #fff;
	font-size: 80px;
    margin: 0 10px 0 0;
}

.home-bottom-wrap {
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
}

.home-bottom-container {
	width: 100%;
	display: flex;
	align-items: flex-end;
	padding: 0;
}

.home-text {
	font-size: 26px;
	font-family: Circe-Regular;
	text-align: left;
    color: #fff;
}

.home-primaryBtn {
    width: 500px;
	height: 70px;
	line-height: 70px;
	border-radius: 40px;
	font-size: 30px;
	font-family: Circe-Bold;
    color: #000000;
	cursor: pointer;
	background-color: #fff;
	text-align: center;
	margin-left: 16px;

    z-index: 2;
    -ms-transform: translateX(-0%);
    transform: translateX(-0%);
    background-repeat: no-repeat;
    background-position: center;
    outline-width: 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.home-primaryBtn:after, .home-primaryBtn:after {
    content: "";
    background: rgba(0,0,0,0.2);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
	border-radius: 40px;
    transition: all 0.8s
}

.home-primaryBtn:active:after, .home-primaryBtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.home-secondaryBtn {
    width: 400px;
	height: 75px;
	line-height: 75px;
	font-size: 26px;
	font-family: Circe-Regular;
    color: #fff;
	cursor: pointer;
	text-align: center;
	margin-left: 16px;
	margin-right: 16px;
}