@font-face {
	src: url(../../Resources/fonts/Circe-Regular.ttf);
	font-family: Circe-Regular;
}
@font-face {
	src: url(../../Resources/fonts/Circe-Bold.ttf);
	font-family: Circe-Bold;
}
@font-face {
	src: url(../../Resources/fonts/Circe-ExtraBold.ttf);
	font-family: Circe-ExtraBold;
}

body {
    background: linear-gradient(120deg, #FF4257 30%, #F77281);
}

.home-disableInteraction {
    pointer-events: none;
}

.home-bgBlur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    pointer-events: none;
}

.home-boxes {
	width: 1101.38px;
	height: 800px;
	margin-top: -80px;
	top: 0;
	right: 0;
	position: absolute;
	background-image: url(../../Resources/Images/landing_boxes.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-container {
	margin: 50px;
}

.home-logoImage {
	width: 700px;
	height: 83.05px;
	background-image: url(../../Resources/Images/logo_text.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-title-container {
	width: fit-content;
	overflow: hidden;
	margin-top: 50px;
}

.home-title {
	width: fit-content;
	color: white;
	font-family: Circe-ExtraBold;
    text-align: center;
    color: #fff;
	font-size: 80px;
    margin: 0 10px 0 0;
}

.home-bottom-wrap {
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
}

.home-bottom-container {
	width: 100%;
	display: flex;
	align-items: flex-end;
	padding: 0;
}

.home-text {
	font-size: 26px;
	font-family: Circe-Regular;
	text-align: left;
    color: #fff;
}

.home-primaryBtn {
    width: 500px;
	height: 70px;
	line-height: 70px;
	border-radius: 40px;
	font-size: 30px;
	font-family: Circe-Bold;
    color: #000000;
	cursor: pointer;
	background-color: #fff;
	text-align: center;
	margin-left: 16px;

    z-index: 2;
    -ms-transform: translateX(-0%);
    transform: translateX(-0%);
    background-repeat: no-repeat;
    background-position: center;
    outline-width: 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.home-primaryBtn:after {
    content: "";
    background: rgba(0,0,0,0.2);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
	border-radius: 40px;
    transition: all 0.8s
}

.home-primaryBtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.home-secondaryBtn {
    width: 400px;
	height: 75px;
	line-height: 75px;
	font-size: 26px;
	font-family: Circe-Regular;
    color: #fff;
	cursor: pointer;
	text-align: center;
	margin-left: 16px;
	margin-right: 16px;
}

@media (max-width: 1600px) {
    .home-boxes {
		width: 688.36px;
		height: 500px;
    }
	.home-logoImage {
		width: 500px;
		height: 59.32px;
	}
}

@media (max-width: 1150px) {
    .home-bottom-container {
		flex-direction: column;
	}
	.home-bottom-wrap {
		position: fixed;
		bottom: 0;
		margin-bottom: 20px;
		margin-right: 50px;
	}
	.home-primaryBtn, .home-secondaryBtn {
		width: 100%;
		margin-right: 0px;
	}
	.home-boxes {
		width: 481.85px;
		height: 350px;
	}
	.home-title { font-size: 50px; }
}

@media (max-width: 950px) {
	.home-boxes {
		background-image: none;
	}
}

@media (max-width: 550px) {
	.home-logoImage {
		width: 337.17px;
		height: 40px;
	}
	.home-text {
		font-size: 18px;
	}
	.home-bottom-wrap {
		margin-bottom: 10px;
		margin-right: 20px;
	}
	.home-container { margin: 20px; }
	.home-primaryBtn {
		font-size: 24px;
		height: 55px;
		line-height: 55px;
		margin: 10px 0px 0px 0px;
	}
	.home-secondaryBtn {
		margin: 0px 0px 0px 0px;
		font-size: 20px;
	}
}

@media (max-width: 400px) {
	.home-logoImage {
		width: 252.87px;
		height: 30px;
	}
	.home-title {
		font-size: 40px;
	}
	.home-text {
		font-size: 16px;
	}
}

/* Dialog */

.home-dialog {
    width: 30vw 30vmin;
    max-width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background: linear-gradient(120deg, #FF4257 30%, #F77281);
    padding: 10px 30px 16px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
	box-shadow: 0 0 50px;
    transition: 0.3s color;
	color: #F77281;
	align-items: center;
}

/* HowToPlay Dialog */

.home-howToPlay-header-layout {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.home-howToPlay-header {
	font-size: 28px;
	font-family: Circe-Bold;
	color: #fff;
}

.home-howToPlay-close {
	height: 18px;
	width: 18px;
	margin-left: 38px;
	cursor: pointer;
	background: url("../../Resources/Images/close-x.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Start Dialog */

.home-startDialog-divider {
	border-top: 1px solid #ffffff;
}

.home-startDialog-input-dialog {
	display: flex;
	align-content: center;
}

.home-startDialog-input {
	height: 40px;
    color: white;
    width: 300px;
    padding-left: 2px;
    border: 0px;
    display: flex;
    outline-width: 0;
    font-family: Circe-Regular;
	font-size: 16px;
	background: #00000000;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #FFFFFF;
	opacity: 0.75; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #FFFFFF;
	opacity: 0.75;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #FFFFFF;
	opacity: 0.75;
}

/* Dialog Selection */

.home-startDialog-selection-body {
	display: flex;
	flex-direction: row;
}

.home-startDialog-selection {
	display: flex;
	flex-direction: column;
	margin: 40px 20px 10px 20px;
	align-items: center;
	cursor: pointer;
}

.home-startDialog-selection-title {
	font-size: 16px;
	font-family: Circe-Regular;
	color: #fff;
}

.home-startDialog-selection-actions, .home-startDialog-selection-script {
	width: 50px;
	height: 50px;
	background-image: url("../../Resources/Images/circle-cube.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-startDialog-selection-script {
	background-image: url("../../Resources/Images/circle-chevron.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-startDialog-startBtn {
	width: 240px;
	height: 40px;
	line-height: 40px;
	border-radius: 40px;
	font-size: 16px;
	font-family: Circe-Bold;
    color: #000000;
	cursor: pointer;
	background-color: #fff;
	text-align: center;

    z-index: 2;
    -ms-transform: translateX(-0%);
    transform: translateX(-0%);
    background-repeat: no-repeat;
    background-position: center;
    outline-width: 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.home-startDialog-startBtn:after {
    content: "";
    background: rgba(0,0,0,0.2);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
	border-radius: 40px;
    transition: all 0.8s
}

.home-startDialog-startBtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.home-startDialog-cancel {
	font-size: 12px;
	font-family: Circe-Bold;
	color: #fff;
	cursor: pointer;
}

.home-startDialog-generate {
	height: 25px;
	width: 25px;
	margin-top: 8px;
	cursor: pointer;
	background: url("../../Resources/Images/repeat-outline.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}