@font-face {
	src: url(../../Resources/fonts/Circe-Regular.ttf);
	font-family: Circe-Regular;
}
@font-face {
	src: url(../../Resources/fonts/Circe-Bold.ttf);
	font-family: Circe-Bold;
}
@font-face {
	src: url(../../Resources/fonts/Circe-ExtraBold.ttf);
	font-family: Circe-ExtraBold;
}